@font-face {
    font-family: 'League Spartan Bold';
    font-style: normal;
    font-weight: normal;
    src: local('League Spartan Bold'), url('LeagueSpartan-Bold.woff') format('woff');
}
/* body{
    background-image: url(cali-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
nav{
    background-color: #8e1e2e;
}
    .navbar-brand{
        font-family: 'League Spartan Bold';
        font-size: 30px;
    }
    .navbar span{
        color: #dccea5;
    }
    .navbar #memoji{
        height:50px;
        width:50px;
        margin-top: -10px;
    }
.nav-item{
    display: flex;
}
#intro{
    height:800px;
    background-image: url(cali-bg.jpeg);
    background-size: cover;
}
#intro h1{
    padding-top: 190px;
    font-size: 100px;
    font-family: 'League Spartan Bold';
    color: white;
}
#intro h2{
    margin-top: 30px;
    font-size: 55px;
    font-family: 'League Spartan Bold';
    color: #8e1e2e;
}
.row{
    display:flex;
}


